body {
    background: #222;
}
#app {
    margin: 0 auto;
    width: 500px;
    background: white; 
    border-radius: 5px;
    padding: 20px;
}
.result {
    margin-bottom: 50px;
}

#home-link {
  position: absolute;
  right: 0;
  top: 0;
}

#result-box {
    border: 1px solid coral;
    position: relative;
}