@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

/**color vars **/
$color-moss: #C9e4ca;
$color-grass: #87bba2;
$color-sea: #55828b;
$color-forest: #3b6064;
$color-slate: #364958;

// p { color: $color-green; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: fuchsia;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(145deg, #272727 0%,  #818181 100%, );
    width: 100wv;
    height: 100vh;
    overflow: hidden;
}

button {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 2px;
    /* display: none; */
}


/*************** Layout end ***************/

/*MODAL STYLING*/

div.ReactModalPortal {
    position: absolute;
    width: 100vw;
}

.ReactModalPortal > div {
    opacity: 0;
    // border: 1px solid greenyellow;
    // box-shadow: inset 2px 2px 5px 15px red;
}

.ReactModalPortal .ReactModal__Overlay {
    width: 100vw;
    min-height: 100vh;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal > .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
  }

/*MODAL STYLING END*/



/************ search dictionary stuff *******************/
// details {
//     margin-bottom: 50px;
//     font-family: 'Montserrat', sans-serif;
//     text-align: center;
// }


#result-box {
    // border: 1px solid coral;
    position: relative;
}

#search-field {
    width: 50%;
    height: 5vh;
    // border: 3px solid orange;
}

.search-bar {
    text-align: center;
}

/****above is for DICTIONARY SEARCH ****/



/*TODO: this is to be turned to styled comp*/

.temp-voc-item {
    color: #fff;
    font-weight: 100 !important;
    font-size: 1rem;
    // text-align: center;
    & a {
        color: #deeef0;
    }
    & p {
        color: coral;
        margin: 10px auto 5px 10vw;
    }
}

.form-error {
    color: #ff966f;
    font-size: 2rem;
}
.temp-voc-item{
    a:link, a:visited, a:active {
        position: absolute;
        display: inline-block;
        font-size: 1rem;
        margin-left: 25vw;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: #87bba2;
    }
}
.add-vocab-page {
    display: grid;
    justify-items: center;
    justify-content: center;
}
.vocab-form-container {
    margin: 10vh auto;
    width: 90vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    // border: 1px solid yellow;
    & .new-vocab-form {
        width: 80%;
        
    }
    & button {
        margin: auto;
    }

}

.vocab-item-list {
    width: 65vw;
    margin: 3vh auto;
}

.temp-voc-item {
    border: 1px solid greenyellow;
    font-size: 1.5rem;
    font-family: "Montserrat", 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: lighter;
    position: relative;
    p {
        font-size: 3.7rem;
    }
    & a {
        position: absolute;
        right: 4vw;
        top: 1vh;
    }
    & .vocab-edit-link {
        position: absolute;
    }
}
#btn-submit {
    width: 100%;
    height: 5vh;
    color: whitesmoke;
    background: #74a577;
    box-shadow: 1px 1px 4px 0px 000;
}

#check-box {
    height: 4vw;
    width: 4vw;
}
