@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    position: relative;
}

#app {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #60665A;
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: repeat(3, 1fr);
    min-height: 100%;
    height: auto;
}

// .landing-comp {
    // grid-column: 1/4;
    // grid-row: 1/4;
    // display: grid;
    // grid-template-columns: 20vw 40vw 40vw;
    // grid-template-rows: repeat(3, 1fr);
    // height: auto;
    // border: 1px solid coral;
// }

// .menu-comp {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 20vw;
    // height: 100vh;
    // display: grid;
    // grid-template-columns: 100%;
    // grid-template-rows: repeat(3, 33.33vh);
    // text-align: center;
// }

// .top-rt-placeholder {
    // grid-column: 1;
    // grid-row: 1;
    // background: #58564c;
// }

// .x-modal-open-btn {
    // height: 3vh;
    // width: 12vw;
    // border: 1px solid sandybrown;
    // background: rgb(37, 9, 9);
    // color: antiquewhite;
    // font-weight: 100;
// }

// .menu-options {
//     grid-column: 1;
//     grid-row: 2;
//     display: grid;
//     grid-template-rows: repeat(6, 1fr);
//     grid-template-columns: 1fr;
// }

// .displayCtrl-box {
//     grid-column: 2/4;
//     display: grid;
//     grid-template-columns: repeat(16, 5vw);
//     grid-template-rows: auto;
//     width: 100%;
//     margin-top: 1vh;
// }

.slide-card-en,
.slide-card-de {
    text-align: center;
}

.left-col {
    background: #60665A;
    grid-column: 2/8;
    width: 100%;
    height: 30vh;
    box-shadow: -30px 30px 30px 0px black;
}

.right-col {
    background: #60665A;
    grid-column: 9/15;
    width: 100%;
    height: 30vh;
    box-shadow: -30px 30px 30px 0px black;
    margin-top: 12vh;
}

.card-property {
    font-size: 30px;
    font-weight: 100;
}

#card-idx {
    font-size: 8px;
    grid-column: 1;
    grid-row: 1;
}

#word-de {
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
    margin: auto;

}

#word-en {
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
    margin: auto;

}

#example-de {
    grid-column: 1;
    grid-row: 2;
}

#example-en {
    grid-column: 1;
    grid-row: 2;
}

.card-border {
    fill: transparent;
    position: absolute;
    top: 0;
    left: -1px;
    height: 102%;
    width: 100%;
    stroke-width: 2px;
    stroke-dasharray: 1590px;
    fill: transparent;
    animation: 0.3s infinite forwards drawSVG;
    animation-iteration-count: 1;
}

@keyframes drawSVG {
    0% {
        stroke-dashoffset: -1590px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

/*****CARD ANIMATION****/
#vocab-card {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.card-clue {
    grid-row: 1;
    grid-column: 1;
    background: #60665A;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.card-solution {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    background: #60665A;
    position: relative;
    width: 100%;
    height: 102%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.card-solution {
    opacity: 1;
}

/*************** Layout end ***************/

/*MODAL STYLING*/

div.ReactModalPortal {
    position: absolute;
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: repeat(3, 33.33vh);
    transition: opacity 200ms ease-in-out;
}

// .ReactModal__Overlay.ReactModal__Overlay--after-open {
//     background-color: #000;
// }

// .ReactModalPortal > div {
//     opacity: .5;
    // grid-row: 1;
    // grid-column: 1;
// }

.ReactModalPortal > .ReactModal__Overlay--after-open {
    opacity: 1;
    // filter: blur(12px);
}

// .ReactModalPortal > div {
    // background: #000;
    // filter: blur(20px);
// }

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.x-modal {
    opacity: 1;
    background: green;
    text-align: center;
    & button {
        background: grey;
        display: block;
        margin: 0.3vh auto;
        width: 6vw;
        height: 4vh;
    }
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }


/*MODAL STYLING END*/


input[type="text"] {
    /* width: 100%; */
    font-size: 20px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 25px;
    text-align: center;

}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 25px;
    text-align: center;

}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 25px;
    text-align: center;

}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 25px;
    text-align: center;

}

// #upperBounds-input {
//     box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
//     border: 1px solid grey;

//     width: 3vw;
// }

// #lowerBounds-input {
//     box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
//     border: 1px solid grey;

//     width: 3vw;
// }

button {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 2px;
    /* display: none; */
}

.menu-options h1 {
    font-family: 'Times New Roman', Times, serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

// .menu-btn:hover {
    // color: #fff;
    // background: sandybrown;
    // border: 1px solid #EFE9E1;
// }

// .menu-form {
//     grid-row: 4/6;
// }

// .menu-form input {
//     margin: 5px 20px;
// }

// .lang-switch-btn {
//     margin: 10px auto;
//     font-size: 18px;
//     height: 5vh;
//     width: 10vw;
//     background: grey;
// }

// .params-display {
//     color: #9cad85;
//     text-shadow: 1px 1px 0px #000;
// }

.invalid input {
    background: #ffd289;
}

.invalid .params-display {
    color: #852a00;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}


/************ search dictionary stuff *******************/
details {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    text-decoration: none !important;
}

#result-box {
    border: 1px solid coral;
    position: relative;
}

#search-field {
    width: 50%;
    height: 5vh;
    border: 3px solid orange;
}

.search-bar {
    text-align: center;
}

/****above is for DICTIONARY SEARCH ****/